body {
  background: blanchedalmond;
  margin: 0;
}

.container{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 4px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}
.a{
  border: 3px solid red;
  height: 120px;
}
.b{
  border: 3px solid blue;
  height: 210px;
}
.c{
  border: 3px solid green;
  height: 120px;
}
