body {
  background: blanchedalmond;
}
*{
  border: 1px solid palevioletred;
}
.container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
}
.a{
  flex-grow: 1;
}
.b{}
.c{}
