body {
  background: blanchedalmond;
  margin: 0;
}

.container{
  display: flex;
  margin: 20px;
  border: 4px solid black;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.a{
  border: 3px solid red;
  
}
.b{
  border: 3px solid blue;
  flex-grow: 3;
  
}
.c{
  border: 3px solid green;
}

.a, .c{
  flex-grow: 1;

}

@media (min-width: 600px){
.container {flex-direction: row;
flex-wrap: wrap;}
.a{width: 100%;}
}