body {
  background: papayawhip;
}
.container{
  border: 4px solid black;
  height: 100dvh;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3,1fr);
  grid-auto-columns: 1fr;
  grid-template-areas:
    "a a a"
    "b b b"
    "c d e"
    "f f f";
}
.container>div{
  min-height: 100px;
}

.a{
  border: 3px solid red;
  grid-area: a;
}
.b{
  border: 3px solid blue;
  grid-area: b;
}
.c{
  border: 3px solid green;
  grid-area: c;
}
.d{
  border: 3px solid orange;
  grid-area: d;
}
.e{
  border: 3px solid purple;
  grid-area: e;
}
.f{
  border: 3px solid orchid;
  grid-area: f;
}
@media(min-width: 600px) {
.container{
grid-template-columns: repeat(4, 1fr);
grid-template-areas:
    "a a a a"
    "b b b f"
    "c d e f"; }
}